.ma-div-card{
    display: grid;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 200px;
    padding: 16px;
    margin: 16px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #e0dfdf;
    background-color: #f8f8f8;
}

.ma-div-card h2 {
    font-weight: 600;
    color: #a7a4a4;
}

.ma-div-card span {
    font-size: 20px;
    font-weight: 500;
}

.ma-div-card svg {
    color: rgb(42, 47, 104);
}