.ma-div-login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D99EBA;
    opacity: 0.7;
}

.ma-div-login > div{
    width: 30%;
    background-color: #fff;
    box-shadow: 0 0px 10px 1px #856385;
    padding: 40px
}

.ma-div-navifation{
    display: flex;
    align-items: center;
    justify-content: center;

}
.ma-div-login input {
    width: 100%;
    border: none;
    border-bottom: 3px;
    background-color: #ebebeb;
    color: #3b4e5c;
    padding: 16px; 
    margin-bottom: 25px;
    box-sizing: border-box;
    outline: none;
}

.ma-div-login button {
    display: block;
    margin: 0 auto;
    min-width: 160px;    
    border: none;
    background-color: #cf7fa5;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    padding: 17px 18px 15px 16px;
    text-transform: uppercase;
}    

.ma-div-login img {
    height: 250px;
    width: 300px;
}

.ma-div-login a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #cf7fa5;
    cursor: pointer;
    padding: 16px;
}

.ma-input-error{
    border: solid 1px !important;
    border-color: red !important;
}

.ma-div-login a svg {
    vertical-align: top;
}

.ma-div-login  p {
    color: #bb6f93; 
    margin-bottom: 30px;
}

.ma-div-login .ma-p-error{
    color: rgb(248, 91, 91) !important; 
}