.ma-div-main-header {
  grid-area: header;
  background-color: saddlebrown;
}

.ma-div-main-sidebar {
  grid-area: menu;
}

.ma-div-main-container {
  grid-area: container;
  background-color: rgb(115, 19, 139);
}

.ma-div-main {
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: 10% 1fr;

  grid-template-areas:
    "header header"
    "menu container";
}
