.ma-div-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: #75a4ad;
}

.ma-div-header-logo {
  width: 20%;
  padding: 25px;
  overflow: hidden;
}

.ma-div-header-logo img {
  width: 40%;
}

.ma-div-header-info {
  padding-right: 10px;
  color: #fff;
  font-size: 25px;
}

.ma-div-header-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ma-div-header-info span {
  margin: auto 10px;
}
