.ma-div-menu{
    width: 250px;
    background-color: #f5f3f3;
    border-right-style: solid;
    border-right-width: 3px;
    border-right-color: #eeebeb;
    z-index: -1;
}


.ma-div-menu-items{
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.ma-div-menu-home{
    display: flex;
    width: 100%;
    align-items: center;
}

.ma-div-menu svg {
    color: #a7a4a4;
}

.ma-div-menu-home svg {
    font-size: 25px;
    text-align: center;
}

.ma-div-menu span {
    color: #a7a4a4;
    font-weight: 700;
    vertical-align: top;
    padding: 10px;
    margin: 10px;
}

.ma-div-menu-list {
    display: grid;
    width: 100%;
}

.ma-div-menu-icon{
    padding: 10px;
}