.ma-div-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f5f3f3;
  padding: 30px 25px;
  color: #a7a4a4;
}

.ma-div-menu-home {
  display: flex;
  align-items: center;
}

.ma-div-menu-home svg {
  font-size: 25px;
  margin-bottom: 10px;
}

.ma-div-menu-icon {
  display: flex;
  align-items: center;
  margin: 25px 10px;
}

.ma-div-menu span {
  font-weight: 600;
  margin-left: 10px;
}
